<h3>Calculadora en angular</h3>
<mat-form-field>
  <input matInput placeholder="Primer Numero" type="text" appOnlynumber [(ngModel)]="numer1"/>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput placeholder="Segundo Numero" type="text" appOnlynumber [(ngModel)]="numer2"/>
</mat-form-field>
<p [hidden]="!muestra" style="color: red">{{ error }}</p>
<h4>Operación</h4>
<div class="button-row">
<button mat-raised-button (click)="sumar()">+</button>
<button mat-raised-button (click)="restar()">-</button>
<button mat-raised-button (click)="multiplicar()">*</button>
<button mat-raised-button (click)="dividir()">/</button>
<button mat-raised-button (click)="clean()">C</button>
</div>
<h4>Resultado</h4>
<h5>{{ resultado }}</h5>